﻿.cuerpo{
  background-color: black;
  color: white;
}


.imagen{
  width: 70%;
  height: 40%;
  margin-top: 15;
  margin-left: 15%;
  border-radius:18%;
}

.menu li a {
  background-color: #AA1111;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.menu li a:hover{
  background-color: rgb(184, 58, 58);
}

.menu > li {
  float: left;
}

.menu li ul {
  display: none;
  position: absolute;
}

.menu li:hover > ul{
  display: block;
}

.informacion{
  float: left;
  width: 65%;
  margin-left: 5%;
  margin-right: 5%;
}

.cita{
  text-align: left;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#estructura{
  margin-top: 5%;
  width: 90%;
  float: right;
  text-align: justify;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../../fondo.jpg);
}

#cabecera{
  width: 100%;
  float: left;
}

#glosario{
  float: right;
  width: 20%;
  margin-right: 5%;
}

#menu{
  width: 20%;
  float: right;
}

#imagen_cabecera{
  width: 20%;
  height: 18%;
  margin-top: 3%;
  margin-left: 3%;
  border-radius:10%;
  float: left;
}

#seccion_menu{
  width: 70%;
  float: left;
}

#titulo{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  margin-top: 6%;
  float: left;
  text-shadow: 5px 5px #AA1111;
}

#opinionYcomentarios{
  width: 90%;
  float: left;
  margin-left: 5%;
}

p{
  text-indent: 20px;
}

ul{
  list-style: none;
}
